.container {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form input {
  border: 1px solid var(--white);
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
}

.form button {
  cursor: pointer;
  text-transform: uppercase;
  color: var(--black);
  background-color: var(--green);
  border: 1px solid var(--green);
  padding: 0.5rem 2rem;
  border-radius: 0.2rem;
}

.form button:hover,
.form button:focus {
  background-color: var(--greenAccent);
  border-color: var(--greenAccent);
}

.successContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.searchResults {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

@media (min-width: 35rem) {
  .form {
    gap: 0;
    flex-direction: row;
    align-items: center;
    border-radius: 0.2rem;
  }

  .form input {
    border-radius: revert;
    flex-grow: 2;
  }

  .form label {
    border: 1px solid var(--pink);
    background-color: var(--pink);
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
    padding: 0.5rem 1rem 0.5rem 2rem;
  }

  .form button {
    border-top-left-radius: revert;
    border-bottom-left-radius: revert;
  }

  .searchResults {
    grid-template-columns: repeat(auto-fill, minmax(300px, 500px));
  }
}
